<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
  <h1 class="h2">Credentials</h1>
</div>

<section class="pt-5 pb-5">

    <div class="row w-100">
      <div class="col-lg-12 col-md-12 col-12">


        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>API Name</th>
              <th>API Key</th>
              <th>API Secret</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @credentials.each_with_index do |credential, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= link_to credential.api_name, credential %></td>
              <td><%= credential.api_key %></td>
              <td><%= credential.api_secret %></td>
              <td class="actions">

                <%= link_to edit_credential_path(credential), class: "btn btn-white border-secondary bg-white btn-sm", title: 'Edit' do %>
                <i class="fas fa-edit"></i>
                <% end %>  

                <%= link_to credential_path(credential), method: :delete, class: "btn btn-white border-secondary bg-white btn-sm", data: { confirm: 'Are you sure?' }, title: 'Delete' do %>
                <i class="fas fa-trash"></i>
                <% end %>         

              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= link_to 'New Credential', new_credential_path %>

 
</section>

