<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
  <h2>Credential Details</h2>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Api name:</strong>
  <%= @credential.api_name %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @credential.api_key %>
</p>

<p>
  <strong>Api secret:</strong>
  <%= @credential.api_secret %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>

